.notify_upload {
  background: #313131;
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 20px 40px;
  cursor: pointer;
  display: none;
}

.notify_view {
  display: block;
}